<div class="menu-container p-8 bg-[#F9F8F3] min-h-screen text-[#006400]">
  <div class="flex flex-col md:flex-row gap-12 max-w-6xl mx-auto">
    
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-9xl font-black vertical-text opacity-100" >MENU</h1>
      <div class="mt-9">
        <img src="../foodLogo.png" alt="Ibo Falafel" style="width: 25rem;">
      </div>
    </div>

    <div class="flex-1 grid grid-cols-1 md:grid-cols-2 gap-x-12">
      <section>
        <h2 class="text-3xl font-bold border-b-2 border-[#006400] text-center mb-6 py-2">{{'FOOD.SUBTITLES.WRAPS' | translate}}</h2>
        <div *ngFor="let item of wrapItems" class="mb-6">
          <div class="flex justify-between font-bold text-xl">
            <span>{{ item.name | translate}}</span>
            <span>{{ getPriceAsNumber(item.price | translate) | number:'1.2-2' }}</span>
          </div>
          <p class="text-sm italic leading-tight text-green-800">{{ item.description | translate}}</p>
        </div>
      </section>

      <section>
        <h2 class="text-3xl font-bold border-b-2 border-[#006400] text-center mb-6 py-2">{{'FOOD.SUBTITLES.SALADS' | translate}}</h2>
        <div *ngFor="let item of saladItems" class="mb-6">
          <div class="flex justify-between font-bold text-xl">
            <span>{{ item.name |translate }}</span>
            <span>{{  getPriceAsNumber(item.price | translate) | number:'1.2-2' }}</span>
          </div>
          <p class="text-sm italic leading-tight text-green-800">{{ item.description | translate}}</p>
        </div>

        <h2 class="text-3xl font-bold border-b-2 border-[#006400] text-center mt-12 mb-6 py-2">{{'FOOD.SUBTITLES.EXTRAS' | translate}}</h2>
        <div *ngFor="let extra of extraItems" class="flex justify-between font-bold text-lg mb-2">
          <span>{{ extra.name | translate}}</span>
          <span>{{ getPriceAsNumber(extra.price | translate) | number:'1.2-2' }}</span>
        </div>
      </section>
      <section>
        <h2 class="text-3xl font-bold border-b-2 border-[#006400] text-center mb-6 py-2">{{'FOOD.SUBTITLES.GRABABITE' | translate}}</h2>
        <div *ngFor="let item of grabItems" class="mb-6">
          <div class="flex justify-between font-bold text-xl">
            <span>{{ item.name | translate}}</span>
            <span>{{ getPriceAsNumber(item.price | translate) | number:'1.2-2' }}</span>
          </div>
          <p class="text-sm italic leading-tight text-green-800">{{ item.description | translate}}</p>
        </div>
      </section>
      <section>
        <h2 class="text-3xl font-bold border-b-2 border-[#006400] text-center mb-6 py-2">{{'FOOD.SUBTITLES.LMTD' | translate}}</h2>
        <div *ngFor="let item of limitedItems" class="mb-6">
          <div class="flex justify-between font-bold text-xl">
            <span>{{ item.name |translate }}</span>
            <span>{{ getPriceAsNumber(item.price | translate) | number:'1.2-2' }}</span>
          </div>
          <p class="text-sm italic leading-tight text-green-800">{{ item.description |translate }}</p>
        </div>
      </section>
    </div>
  </div>
</div>