.content-box {
  position: fixed; /* Yazının kayarken ekranda kalması için */
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: transform 0.1s ease-out, filter 0.1s ease-out, opacity 0.1s ease-out;
  text-align: center;
  width: 100%;
}